@import url('https://fonts.googleapis.com/css2? family= Lato & family= Montserrat:wght@500 & family= Roboto:wght@300;400 & family= Rubik:ital@0; 1 & família= Ubuntu:ital@0;1 & display=swap');

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('https: //fonts.googleapis.com/css2?family= Lato & family= Montserrat :wght@500 & family= Roboto:wght@300;400 & family= Rubik:ital@0;1 & family= Ubuntu:ital@0; 1 & display=swap" rel="stylesheet"');
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https: //fonts.googleapis.com/css2?family= Lato & family= Montserrat :wght@500 & family= Roboto:wght@300;400 & family= Rubik:ital@0;1 & family= Ubuntu:ital@0; 1 & display=swap" rel="stylesheet"');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https: //fonts.googleapis.com/css2?family= Lato & family= Montserrat :wght@500 & family= Roboto:wght@300;400 & family= Rubik:ital@0;1 & family= Ubuntu:ital@0; 1 & display=swap" rel="stylesheet"');
}

@font-face {
    font-family: 'Rubik', sans-serif;
    src: url('https: //fonts.googleapis.com/css2?family= Lato & family= Montserrat :wght@500 & family= Roboto:wght@300;400 & family= Rubik:ital@0;1 & family= Ubuntu:ital@0; 1 & display=swap" rel="stylesheet"');
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url('https: //fonts.googleapis.com/css2?family= Lato & family= Montserrat :wght@500 & family= Roboto:wght@300;400 & family= Rubik:ital@0;1 & family= Ubuntu:ital@0; 1 & display=swap" rel="stylesheet"');
}

.logo {
    margin-bottom: 0.3rem;
    margin-left: -6rem;
    margin-right: 0rem;
    width: 3.5rem;
}

.container1 {
    background-image: url('../img-vet/dogs.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar {
    background-color: #dadada;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #3d1a1a;
    position: relative;
    display: inline-block;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}


.col {

    text-align: end;
    margin-left: 20%;
    font-family: 'Roboto', sans-serif;
    color: #3d1a1a;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 3px 5px 7px #694d4d;
    font-stretch: expanded;
}

.h3 {
    text-align: end;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25.5px;
    text-shadow: 3px 5px 7px #856c6c;
    font-stretch: expanded;
}

.p {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #f3efef;
    background-color: #3a2ed6;
    border-radius: 5px;
    width: 450px;
    margin-left: 350px;
}





